<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <h1>Tioga.moe Seasonal Tank Stats</h1>
	<div class="text-left">
		<h2>Welcome to Tioga.moe</h2>
		<p class="para">Tioga.moe is a stats site that calculates a player's seasonal tank ranking against the other players logged into the site. Players can compete for first place in individual tanks, or master as many tanks as possible to achieve overall rank 1</p>
		<p class="para">Log in in the upper right to start tracking your stats, and join the comment conversations on each page! Head to Season Rules to learn more about the score calculation.</p>
	</div>
</div>