git+https://github.com/django-nonrel/django@nonrel-1.6
git+https://github.com/django-nonrel/djangotoolbox
install git+https://github.com/django-nonrel/mongodb-engine
Pillow
mongoengine
sudo apt-get install zlib1g-dev
sudo apt-get install libpng-dev
sudo apt-get install libjpeg-dev
django-rest-framework-mongoengine
djangorestframework<3.3
django-angular
djangular
django-crispy-forms
