{% extends "base.html" %}
{% load i18n %}
{% load djng_tags %}
{% block content %}
{% verbatim %}
<body ng-app="wows_sigs" ng-controller="MainController">
<div class="container" >

    <!-- HEADER -->
    <nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/signatures/">Tioga.moe</a>
			</div>

			<!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
			<ul class="nav navbar-nav">
				<li><a href="/players/">Players</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a target="{{(currentUser.loggedin) ? '' : '_top'}}" ng-href = "{{currentUser.profile}}">{{currentUser.username}}</a></li>
			</ul>
		</div>
    </nav>
	<div class="row">
    <!-- ANGULAR DYNAMIC CONTENT -->
    <div class="col-md-12"ng-view></div>
	</div>

</div>

</body>
{% endverbatim %}
{% endblock content %}
