<!-- public/index.html -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/signatures/templates/">

  <title>Tioga.moe World of Warships Signatures</title>

  <!-- CSS -->
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css"> <!-- custom styles -->
	<link rel="stylesheet" href="libs/angular-loading-bar/build/loading-bar.min.css"> <!-- custom styles -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<link rel="stylesheet" href="libs/angular-bootstrap-colorpicker/css/colorpicker.min.css"> <!-- custom styles -->
	<link rel="stylesheet" href="libs/ng-notifications-bar/dist/ngNotificationsBar.min.css" />

  <!-- JS -->
  <script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular-jquery/dist/angular-jquery.min.js"></script>
	<script src="libs/angular-bootstrap-affix/dist/angular-bootstrap-affix.min.js"></script>
  <script src="libs/angular-route/angular-route.min.js"></script>
	<script src="libs/angular-cookies/angular-cookies.min.js"></script>
	<script src="libs/angular-loading-bar/build/loading-bar.min.js"></script>
	<script src="libs/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script src="libs/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
	<script src="libs/angular-sanitize/angular-sanitize.js"></script>
	<script src="libs/ng-notifications-bar/dist/ngNotificationsBar.min.js"></script>

  <!-- ANGULAR CUSTOM -->

  <script src="js/controllers/MainCtrl.js"></script>
	<script src="js/controllers/HomeCtrl.js"></script>
	<script src="js/controllers/PlayerCtrl.js"></script>

  <script src="js/services/PlayerService.js"></script>
	<script src="js/services/AuthService.js"></script>

  <script src="js/appRoutes.js"></script>
  <script src="js/app.js"></script>

</head>
{% block content %}{% endblock content %}

</html>
